<h3>Testes Agendados</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var pac of listaPaciente) { %>       
            <tr>
            <td><%= pac[0].name %></td>
            <td><%= pac[0].cod %></td>
            <td><%= pac[0].testes[pac[0].testes.length-1].data.toDateString() %></td>
            <td>
                <a href="/tecnicos/pedidos_novos/editar/<%= pac[0].cod %> "><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>