<form action="/ver_pedido" method="POST">
    <div>
        <label for="teste1">Teste 1:</label><br>
        <div>
            <label for="estado">Estado:</label><br>
            <input type="text" id="estado" name="estado"><br>
        </div>
        <div>
            <label for="teste">Teste:</label><br>
            <input type="text" id="teste" name="teste"><br><br>
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" id="data" name="data">
        </div>
        <div>
            <label for="resultado">Resultado:</label><br>
            <input type="text" id="resultado" name="resultado"><br><br>
        </div>
        <div>
            <input type="file" name="arquivos">
        </div>
    </div>
    
    <div>
        <label for="teste2">Teste 2:</label><br>
        <div>
            <label for="estado">Estado:</label><br>
            <input type="text" id="estado" name="estado"><br>
        </div>
        <div>
            <label for="teste">Teste:</label><br>
            <input type="text" id="teste" name="teste"><br><br>
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" id="data" name="data">
        </div>
        <div>
            <label for="resultado">Resultado:</label><br>
            <input type="text" id="resultado" name="resultado"><br><br>
        </div>
        <div>
            <input type="file" name="arquivos">
        </div>
    </div>
  </form>