
<form action="" method="get">
    <ul style="list-style-type:none;">
        <% for(var pedidos of arrayPedidos) { %>
            <div class="boxed">            
                <li><b>Nome: </b><%= pedidos.name %></li>
                <li><b>Código: </b><%= pedidos.cod %></li>
            <br><br>
        <% } %>
    </ul>
</form>
 
