<form action="/tecnicos" method="get">
    <div class="navbar" class="form-group">
        <a href="/tecnicos/pedidos_novos">Pedidos Novos</a>
        <a href="/tecnicos/agendados">Agendados</a>
        <a href="/tecnicos/espera">Em espera</a>
        <a href="/tecnicos/realizados">Realizados</a>
    </div>
</form>



