

<form action="/admin" method="GET">
    <li><a href="/admin/gerirTecnicos">Gerir Técnicos</a></li>
    <li><a href="/admin/informacoes">Informações Gerais</a></li>
    <li>Mudar Password</li>
    <form action="/admin" method="GET">
        <input type="password" class="form-control" name="passwd" placeholder="Digite a password">
    </form>
</form>