<li><a href="/admin/gerirTecnicos">Gerir Técnicos</a></li>
<li><a href="/admin/informacoes">Informações Gerais</a></li>
<li>Mudar Password</li>
<form action="/admin" method="post">
    <input type="hidden" name="cod" value="10">
    <input type="password" class="form-control" name="password" placeholder="Digite a password"><br>
    <button type="submit" class="btn btn-info">Guardar</button>
</form>