<title>Preencha para fazer um pedido de teste</title>

<form action="/receber_pedido" method="post">
    <div>
        <label for="cod">Código:</label><br>
        <input type="number" id="cod" name="cod"><br>
    </div>
    <div>
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="name"><br>
    </div>
    <div>
        <label for="age">Idade:</label><br>
        <input type="number" id="age" name="age" min="1"><br><br>
    </div>
    <div>
        <label for="age">Sexo:</label><br>
        <label class="checkbox">
            <input type="radio" name="sex" value="masculino"> Masculino
        </label>
        <label class="checkbox">
            <input type="radio" name="sex" value="feminino"> Feminino
        </label><br><br>
    </div>
    <div>
        <input type="radio" id="s24" name="info" value="male">
        <label for="s24">Encaminhado pela linha de Saúde24</label><br>
        <input type="radio" id="pgr" name="info" value="pgr">
        <label for="pgr">Pertenço a um grupo de risco</label><br>
        <input type="radio" id="tgr" name="info" value="tgr">
        <label for="tgr">Trabalho num grupo de risco</label><br><br>
    </div>
    <div>
        <label for="msg">Sintomas:</label><br>
        <textarea name="sintomas" rows="10" cols="30">
            Febre... 
        </textarea><br><br>
    </div>

    <div class="button">
        <button type="submit">Submeter</button>
    </div>
  </form>
  