<form action="/receber_pedido" method="post">
    <label>Preencha para fazer um pedido de teste:</label><br>

    <div class="form-group">
        <label for="cod">Código:</label><br>
        <input type="hidden" class="form-control" id="cod" name="cod"><br>
    </div>
    <div class="form-group">
        <label for="name">Nome:</label><br>
        <input type="text" class="form-control" id="name" name="name" required><br>
    </div>
    <div class="form-group">
        <label for="age">Idade:</label><br>
        <input type="number" class="form-control" id="age" name="age" min="1" required><br><br>
    </div>
    <div class="form-group">
        <label for="age">Sexo:</label><br>
        <label class="checkbox">
            <input type="radio" name="sex" value="masculino" required> Masculino
        </label>
        <label class="checkbox">
            <input type="radio" name="sex" value="feminino"> Feminino
        </label><br><br>
    </div>
    <div class="form-group">
        <input type="checkbox" id="s24" name="info" value="s24">
        <label for="s24">Encaminhado pela linha de Saúde24</label><br>
        <input type="checkbox" id="pgr" name="info" value="pgr">
        <label for="pgr">Pertenço a um grupo de risco</label><br>
        <input type="checkbox" id="tgr" name="info" value="tgr">
        <label for="tgr">Trabalho num grupo de risco</label><br><br>
    </div>
    <div class="form-group">
        <label for="msg">Sintomas:</label><br>
        <textarea name="sintomas" rows="10" cols="30"></textarea><br><br>
    </div>

    <div class="button" class="form-group">
        <button type="submit" class="btn btn-info">Submeter</button>
    </div>
  </form>
  