<form action="/admin/informacoes" method="GET">
    <div>
        <label>Testes realizados no dia:</label>
    </div>
    <div>
        <label>Testes realizados pela pessoa:</label>
    </div>
    <div>
        <label>Número de pessoas infetadas:</label>
    </div>
</form>