<form action="/" method="GET">
    <input type="button" onclick="location.href='/fazer_pedido';" value="Fazer Pedido" /><br><br>
</form>

<form action="/ver_pedidos" method="POST">
    Pesquise o seu pedido: <input type="search" name="cod" placeholder="Insira o código">
</form>