





<form action="/" method="GET">
    <input type="button" onclick="location.href='/fazer_pedido';" value="Fazer Pedido" /><br><br>
</form>

<form action="/ver_pedidos" method="POST">
    Pesquisar Pedido: <input type="search" name="q">
    <div class="button">
        <button type="submit">Ver</button>
    </div>
</form>