<h3><a class="btn btn-secondary" href="/admin/addTecnico"><i class="fa fa-plus"></i> Adicionar Novo</a> Lista de Tecnicos</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var tec of listaTecn) { %>       
            <tr>
            <td><%= tec.name %></td>
            <td><%= tec.cod %></td>
            <td>
                <a href="/admin/gerirTecnicos/{{this.cod}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/admin/gerirTecnicos/delete/{{this.cod}}" onclick="return confirm('Tem a certeza que quer eliminar este registo?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
 